{% extends "catalog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p>{{ post.created_at|date:"d M Y" }} • {{ post.views }} просмотров</p>
  <img src="{{ post.preview.url }}" class="img-fluid mb-4">
  <div>{{ post.content|linebreaks }}</div>
  <p>
    <a class="btn btn-secondary" href="{% url 'blog:post_edit' post.pk %}">Редактировать</a>
    <a class="btn btn-danger" href="{% url 'blog:post_delete' post.pk %}">Удалить</a>
  </p>
{% endblock %}
