{% extends "catalog/base.html" %}
{% block title %}{% if object %}Редактировать товар{% else %}Добавить товар{% endif %}{% endblock %}
{% block content %}
  <h1>{% if object %}Редактировать товар{% else %}Добавить новый товар{% endif %}</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class="mb-3">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">
      {% if object %}Сохранить{% else %}Создать{% endif %}
    </button>
  </form>
{% endblock %}
